body {
  background-color: rgb(175, 201, 250);
  font-family: "Roboto", sans-serif;
}

.weather-App {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(186, 215, 241);
  border: none;
  font-size: 16px;
  width: 80%;
  padding: 15px 20px;
}
.search-button {
  background-color: blueviolet;
  border: none;
  border-radius: 8%;
  color: beige;
  padding: 18px 30px;
}
.weatherAppData {
  display: flex;
  justify-content: space-between;
}
.weaterAppCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weatherAppDetails {
  font-size: 16px;
  line-height: 20px;
}
.weatherAppDetails strong {
  color: red;
}

main {
  padding: 30px 0;
}
.weatherAppTemp {
  display: flex;
}
.weatherAppValue {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}
.weatherAppIcon {
  width: 88px;
  height: 88px;
}
.weatherAppUnit {
  margin-top: 14px;
  font-size: 24px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: gray;
}
